constraints: ansi-terminal ==0.6.2.3,
             ansi-wl-pprint ==0.6.7.3,
             array ==0.5.1.0,
             async ==2.1.0,
             base ==4.8.2.0,
             binary ==0.7.5.0,
             bytestring ==0.10.6.0,
             clock ==0.6.0.1,
             cmdargs ==0.10.13,
             containers ==0.5.6.2,
             cpphs ==1.19.3,
             deepseq ==1.4.1.1,
             directory ==1.2.2.0,
             exceptions ==0.8.2.1,
             extra ==1.4.3,
             filepath ==1.4.0.0,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.4.0,
             haskell-lexer ==1.0,
             haskell-src-exts ==1.17.1,
             hlint ==1.9.26,
             hscolour ==1.24,
             integer-gmp ==1.0.0.0,
             mtl ==2.2.1,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             optparse-applicative ==0.12.1.0,
             parsec ==3.1.9,
             polyparse ==1.11,
             pretty ==1.1.2.0,
             pretty-show ==1.6.9,
             process ==1.2.3.0,
             refact ==0.3.0.2,
             regex-base ==0.93.2,
             regex-tdfa-rc ==1.1.8.3,
             rts ==1.0,
             stm ==2.4.4.1,
             syb ==0.6,
             tagged ==0.8.3,
             tasty ==0.11.0.2,
             tasty-golden ==2.3.1,
             tasty-hunit ==0.9.2,
             template-haskell ==2.10.0.0,
             temporary ==1.2.0.4,
             text ==1.2.2.0,
             time ==1.5.0.1,
             transformers ==0.4.2.0,
             transformers-compat ==0.5.1.4,
             unbounded-delays ==0.1.0.9,
             uniplate ==1.6.12,
             unix ==2.7.1.0,
             unordered-containers ==0.2.6.0
